/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #ffffff;
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 50px;
}


.App-header {
  background-color: var(--primary-color);
  color: #000000;
  padding: 1rem;
  text-align: left;
  font-size: 1.6rem;
  margin-top: 50px;
}

.App-header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.App {
  max-height: 100vh;
  overflow-y: auto;  
  margin-left: 50px;
}



.logout i{
  width: 50px;
  height: 50px;
}

